.contact {
  border-top: 1px solid var(--black-bean);
  margin: 100px auto;
  padding-top: 50px;
  max-width: 1000px;
}
.contact > h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}
.contact-content {
  display: flex;
}
#cont-left {
  width: 30%;
  margin-right: 50px;
  line-height: 30px;
  padding: 10px;
}
#cont-right {
  width: 70%;
  padding: 10px;
}
#cont-right input {
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
}
#cont-right button {
  margin-left: 50px;
  padding: 5px;
  background-color: black;
  color: var(--falu-red);
}

@media (max-width: 768px) {
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
