header {
  height: 60px;
  border-bottom: 2px solid var(--falu-red);
  justify-content: space-between;
  align-items: center;
}
.fle {
  display: flex;
}
header h1 {
  font-size: 1.5rem;
  padding-top: 10px;
}
#link a {
  position: relative;
  text-decoration: none;
  padding: 0 20px;
  color: var(--auburn);
}

#link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--auburn);
  transition: width 0.3s ease-in-out;
}

#link a:hover::after {
  width: 100%;
}
